# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log

# Runtime data
server/uploads/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# OS
Thumbs.db
